@model Result
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RsvpForm</title>
</head>
<body>
<p>@Model.Inn</p>
<p>@Model.Deliverys</p>
<p>@Model.RumSum</p>
</body>
</html>
